html {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
    font-size: 2em;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    background-color: darkolivegreen;
}

h2 {
    color: darkolivegreen;
    font-size: 1.5em;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 50%;
    margin: 0 auto;
    background-color: rgb(215, 255, 228);
    padding: 20px;
    border-radius: 10px;
    border: 2px solid darkolivegreen;
}

form>label {
    display: flex;
    gap: 8px;
}

form>label>:last-child {
    flex: 1;
}

form>label>input[type="checkbox"] {
    flex: 0;
}

form button[type="submit"] {
    background-color: darkolivegreen;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button[type="submit"]:hover {
    background-color: olive;
}

form button[type="reset"] {
    background-color: gray;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button[type="reset"]:hover {
    background-color: darkgray;
}

#clearAllBtn {
    background-color: rgb(192, 91, 91);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.center {
    text-align: center;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    /* border: 1px solid; */
}

table th {
    background-color: darkolivegreen;
    color: white;
    padding: 10px;
}

table td {
    padding: 10px;
    border: 1px solid darkolivegreen;
}