.Task1 {
    width: 130px;
    height: 100px;
    background-color: #555; 
    color: white;
    font-size: 35px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-right: 5px;
}

.Task1 :first-child {
    width: 100px;
    height: 80px;
    padding-top: 30px;
    font-size: 45px;
    padding-left: 5px;
}

.Task2 {
    background-color: #555;
    width: 400px;
    height: 150px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 20px;
}
  
.blocks {
    display: flex;
    flex-wrap: wrap; 
    gap: 5px;
    height: 100%;
    overflow: hidden;
}
  
.blocks p {
    width: 50px;
    height: 25px;
    margin: 0;
}
  
.Task2 button {
    height: 30px;
    width: 100%;
}

.Task3 {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    background-color: #555;
    width: 400px;
    height: auto;
    margin-top: 50px;    
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .Task3 p {
    width: 30px;
    height: 30px;
    margin: 0;
    border-radius: 5px;
  }
  