.card img {
    object-fit: contain;
}

.Task1 {
    font-size: 20px;
    font-weight: bold;
    margin-left: 300px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.Task1 input {
    margin-left: 20px;
    padding: 10px 10px;
    font-size: 16px;
    color: white;
    border-radius: 5px;;
    font-size: 20px;
    font-family: "Arial";
    height: 35px;
}
